*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin-top: 20vh;
}

main h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
    text-decoration: underline;
    height: 8vh;
}

main ul {
    padding: 5px;
}

main ul li {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0;
    line-height: 1.6;
}

section {
    width: 30%;
    height: 37vh;
    margin: 30px 0;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
section:hover{
    box-shadow: 0  1px 10px  rgb(41, 167, 154);
    transform: scale(1.05);
    transition-duration: 1ms;
}

#sociaux {
    text-align: center;
    margin-top: 40px;
}

#sociaux h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.social-icons img:hover {
    transform: scale(1.1);
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

td {
    border: 2px solid black;
    padding: 10px;
    background-color: #bdb7b7;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
